In [1]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [3]:
data=requests.get(url).text

In [4]:
soup=BeautifulSoup(data,"html.parser")

In [5]:
#Scraping the Language name and annual average salary
table=soup.find('table')
language_list=[]
for row in table.find_all('tr'):
        col=row.find_all('td')
        language=col[1].getText()
        created_by=col[2].getText()
        avg_annual_sal=col[3].getText().replace("$","").replace(",","")
        learning_diff=col[4].getText()
        
        language_list.append([language,avg_annual_sal])

df_lang_list=pd.DataFrame(language_list,columns=["language","Average salary"])
df_lang_list.columns=df_lang_list.iloc[0]
df_lang_list=df_lang_list[1:]
df_lang_list["Average Annual Salary"]=df_lang_list["Average Annual Salary"].astype(int)

In [6]:
# getting the language with the maximum sallary
df_lang_list[df_lang_list["Average Annual Salary"]==df_lang_list["Average Annual Salary"].max()]

0 Language  Average Annual Salary
5    Swift                 130801

In [7]:
# saving inot a csv file
file_name="popular-languages.csv"
df_lang_list.to_csv(file_name)
df = pd.read_csv(file_name, header=1) 

df.set_index('1')

        Python  114383
1
2         Java  101013
3            R   92037
4   Javascript  110981
5        Swift  130801
6          C++  113865
7           C#   88726
8          PHP   84727
9          SQL   84793
10          Go   94082